.App {
  text-align: center;

  width: 640px;
  margin-right: auto;
  margin-left: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style: none;
  margin-left: -30px;
}

li {
  background-color: transparent;
  text-decoration: none;
}

nav {
  margin-top: 10px;
  margin-bottom: 10px;
}

.back-button {
  background-color: white; /* Green */
  border: 2px solid #008cba; /* Green */
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 15px;
}

.back-button:hover {
  background-color: #008cba;
  color: white;
  cursor: pointer;
}

.nav-link {
  font-size: xx-large;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;

  color: #282c34;

  background-color: transparent;
  text-decoration: none;
}

.active-nav-link {
  font-size: xx-large;
  margin-right: 10px;

  color: #61dafb;

  background-color: transparent;
  text-decoration: none;
}
